{% extends 'base/base.html' %}
{% load material_form  %}
{% block pagetitle %}Forgot Password {% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m6 l6 offset-m2 offset-l3">
        <div class="card-panel">
            <blockquote>
                <h4>Forgot Password</h4>
            </blockquote>
            <form action = "{% url 'forgot_password' %}" method = 'post'>
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <div class="row">
                    <div class = 'center-btn'>
                        <div class="col s12">
                            <button type="submit" name="forgot_password" class="btn waves-effect waves-light">Help Me</button>
                        </div>
                    </div>
                    <br>
                    <div class="col s12 center-align">
                        <a href="{% url 'base' %}">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
