{% extends 'base/base.html' %}
{% load material_form %}
{% block pagetitle %} MiniQuora1| Login {% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card-panel">
            <div class="input-field">
                <h4>Login</h4>
                <form action = " {% url 'base' %}" method='post'>
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <button type="submit" name="login" class="btn waves-effect waves-light left">Log In</button>
                </form>
            </div>
            Base.html called.
        </div>
    </div>
</div>
{% endblock %}
