<!DOCTYPE html>
<html>
    {% load staticfiles %}
    {% load material_form %}
    <head>
        <title> {% block pagetitle %} Welcome to MQ1 {% endblock %} </title>
        <link rel="stylesheet" href = "{% static 'account/css/base.css' %}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        {%include 'material/includes/material_css.html' %}
        {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="baseContainer">
        {% block content %} {% endblock %}
    </div>
    <script src="{% static 'base/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'material/js/jquery.formset.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
    <script src="{% static 'material/js/material_init.js' %}"></script>
    {% block scripts %} {% endblock %}
</body>
</html>
